In [1]:
import numpy as np
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

#### ex 1: קיראו את קובץ החיסונים שקראנו בכיתה (ראו שיעור 2) והציגו את 5 השורות הראשונות בקובץ.

In [3]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

#### ex 2: ביחרו מדינה שמתחילה באותה האות כמו השם של אחד מחברי הצוות, באנגלית. הראו בקוד כיצד אתם מוצאים את המדינה. רמז: כדי למצוא מדינות כאלו ניתן להשתמש בפקודה
'str.contains'

In [6]:
vacc_df[vacc_df['location'].str.startswith('S')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
19839,Saint Helena,SHN,2021-02-03,107.0,107.0,NaN,NaN,NaN,1.76,1.76,NaN,NaN
19840,Saint Helena,SHN,2021-02-04,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19841,Saint Helena,SHN,2021-02-05,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19842,Saint Helena,SHN,2021-02-06,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19843,Saint Helena,SHN,2021-02-07,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
...,...,...,...,...,...,...,...,...,...,...,...,...
23309,Syria,SYR,2021-06-02,NaN,NaN,NaN,NaN,4071.0,NaN,NaN,NaN,233.0
23310,Syria,SYR,2021-06-03,NaN,NaN,NaN,NaN,4674.0,NaN,NaN,NaN,267.0
23311,Syria,SYR,2021-06-04,NaN,NaN,NaN,NaN,4674.0,NaN,NaN,NaN,267.0
23312,Syria,SYR,2021-06-05,NaN,NaN,NaN,NaN,4674.0,NaN,NaN,NaN,267.0
23313,Syria,SYR,2021-06-06,71519.0,71519.0,NaN,NaN,4674.0,0.41,0.41,NaN,267.0

In [14]:
s_data= vacc_df[vacc_df['location']=='Saint Helena'].copy()
s_data.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
19839,Saint Helena,SHN,2021-02-03,107.0,107.0,NaN,NaN,NaN,1.76,1.76,NaN,NaN
19840,Saint Helena,SHN,2021-02-04,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19841,Saint Helena,SHN,2021-02-05,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19842,Saint Helena,SHN,2021-02-06,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0
19843,Saint Helena,SHN,2021-02-07,NaN,NaN,NaN,NaN,75.0,NaN,NaN,NaN,12354.0

#### ex 3:  כמה רשומות יש עבור המדינה שבחרתם?

In [24]:
len(s_data)
s_data.shape[0]

92

#### ex 4: באיזה תאריך התחסנו הכי הרבה אנשים במדינה שבחרתם?

In [34]:
s_data.daily_vaccinations.max()
s

7892.0

In [57]:
s_data_date=s_data[s_data.loc[:,'daily_vaccinations'] == s_data.daily_vaccinations.max()]
s_data_date

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
19889,Saint Helena,SHN,2021-03-25,4454.0,4344.0,110.0,NaN,165.0,73.37,71.55,1.81,27178.0

In [39]:
s_data[s_data.daily_vaccinations==s_data.daily_vaccinations.max()]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
19889,Saint Helena,SHN,2021-03-25,4454.0,4344.0,110.0,NaN,165.0,73.37,71.55,1.81,27178.0

In [45]:
s_data_date.date

19889    2021-03-25
Name: date, dtype: object

#### ex 5: הציגו את 3 הרשומות (שורות) הראשונות עבור המדינה שבחרתם, עם העמודות של התאריך ומספר המתחסנים היומי ושם המדינה בלבד (כלומר הציגו שלוש שורות ושלוש עמודות)

In [48]:
s_data[['location','date','daily_vaccinations']].head(3)

           location        date  daily_vaccinations
19839  Saint Helena  2021-02-03                 NaN
19840  Saint Helena  2021-02-04                75.0
19841  Saint Helena  2021-02-05                75.0

### ex:6 מה הוא מספר המתחסנים הממוצע מידי יום במדינה שבחרתם?. יש לחשב ממוצע על פני כל הימים החל מהתאריך בו החלו לחסן במדינה שבחרתם עבור העמודה daily_vaccinations

In [49]:
s_data['daily_vaccinations'].mean()

84.81318681318682

### ex 7:  people_vaccinated_per_hundredהציגו רק את הימים עם נתונים (הורידו ימים ללא נתונים אם ישנם ימים כאלו) עבור המדינה שבחרתם עבור העמודה:

In [50]:
s_data_withoutNAN= s_data.dropna(subset = ['people_vaccinated_per_hundred'])
s_data_withoutNAN

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
19839,Saint Helena,SHN,2021-02-03,107.0,107.0,NaN,NaN,NaN,1.76,1.76,NaN,NaN
19879,Saint Helena,SHN,2021-03-15,3107.0,3107.0,NaN,NaN,75.0,51.18,51.18,NaN,12354.0
19882,Saint Helena,SHN,2021-03-18,3300.0,3300.0,NaN,NaN,70.0,54.36,54.36,NaN,11530.0
19889,Saint Helena,SHN,2021-03-25,4454.0,4344.0,110.0,NaN,165.0,73.37,71.55,1.81,27178.0
19904,Saint Helena,SHN,2021-04-09,5373.0,4361.0,1012.0,NaN,61.0,88.50,71.83,16.67,10048.0
19930,Saint Helena,SHN,2021-05-05,7892.0,4361.0,3531.0,NaN,97.0,130.00,71.83,58.16,15978.0

### ex 8: מהו מספר המתחסנים הממוצע ל100 איש במדינה שבחרתם? יש לחשב ממוצע על פני כל הימים החל מהתאריך בו החלו לחסן במדינה שבחרתם. שימו לב היטב לסוג הממוצע שנדרש לחשב כאן. כמו כן דאגו להוריד את הימים בהם אין נתונים לפני שאתם מבצעים את החישוב

In [51]:
from scipy import stats
stats.hmean(s_data_withoutNAN.loc[:,'people_vaccinated_per_hundred'])

9.260168989507786

### ex 9:  מה גדול יותר, הממוצע או החציון של מספר המתחסנים היומי על פני כל ימי החיסון החל מהתאריך בו החלו לחסן במדינה בחרתם? הסבירו מדוע אתם חושבים שזה כך. הכוונה לעמודה daily_vaccinations

In [54]:
s_data.daily_vaccinations.mean()

84.81318681318682

In [55]:
s_data.daily_vaccinations.median()

75.0