# Unit 2
---




1. [Introducing Pandas](#section1)
2. [Reading files](#section2)
3. [Selecting data](#section3)
4. [Conditional selection](#section4)

<a id='section1'></a>

## 1. Introducing Pandas
---

<div>
<img src="images/pandas.JPG" width="400"/>
</div>



[Panda's documentation](https://pandas.pydata.org/pandas-docs/stable/)

To begin we need to import pandas
When you see pd, know it is referring to pandas

In [1]:
import numpy as np
import pandas as pd

Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet).

There are two main data structure used by pandas
- Series: like a vector or a list
- Dataframe: equivalent to a table. 

Each column in a pandas Dataframe is a pandas Series data structure. We will mainly be looking at the Dataframe.

We can easily create a Pandas Dataframe by reading a .csv file

<a id='section2'></a>

## 2. Reading files
---

<div>
<img src="images/reading.PNG" width="400"/>
</div>


We will read the whole file at once using Pandas.
Sometimes you might want to read the file line by line, and process each line. Thats possible of course. See for example [here.](https://www.geeksforgeeks.org/read-a-file-line-by-line-in-python/)

We will read data on [COVID-19 vaccinations](https://github.com/owid/covid-19-data/tree/master/public/data/vaccinations)

In order to do that, I retrieved the raw data's url

<div>
<img src="images/raw.png" width="800"/>
</div>

In [2]:
url = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/vaccinations.csv'
vacc_df = pd.read_csv(url)

read_csv has about 30 different options. See the 
[documentation](https://pandas.pydata.org/pandasdocs/stable/reference/api/pandas.read_csv.html#pandas.read_csv)

For example, sep='\t' is used for tab delimited files and 'usecol' reads only specific columns.

In [3]:
type(vacc_df)

pandas.core.frame.DataFrame

view the shape of the dataframe:

In [4]:
vacc_df.shape

(26150, 12)

view basic information:

In [5]:
vacc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26150 entries, 0 to 26149
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   location                             26150 non-null  object
 1   iso_code                             26150 non-null  object
 2   date                                 26150 non-null  object
 3   total_vaccinations                   15576 non-null  float64
 4   people_vaccinated                    14789 non-null  float64
 5   people_fully_vaccinated              11890 non-null  float64
 6   daily_vaccinations_raw               13211 non-null  float64
 7   daily_vaccinations                   25907 non-null  float64
 8   total_vaccinations_per_hundred       15576 non-null  float64
 9   people_vaccinated_per_hundred        14789 non-null  float64
 10  people_fully_vaccinated_per_hundred  11890 non-null  float64
 11  daily_vaccinations_per_million       25907 non-null  float64
dtypes: float64(9), object(3)
memory usage: 2.4+ MB

In [6]:
vacc_df.columns

Index(['location', 'iso_code', 'date', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated',
       'daily_vaccinations_raw', 'daily_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million'],
      dtype='object')

View the first few rows:

In [7]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

What do you think that the 'tail' command does? Try it out!

What happens if we just type vacc_df, without a head or a tail?

In [8]:
vacc_df.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
26145,Zimbabwe,ZWE,2021-06-06,1068107.0,687321.0,380786.0,6156.0,8019.0,7.19,4.62,2.56,540.0
26146,Zimbabwe,ZWE,2021-06-07,1073971.0,688696.0,385275.0,5864.0,7699.0,7.23,4.63,2.59,518.0
26147,Zimbabwe,ZWE,2021-06-08,1078809.0,689397.0,389412.0,4838.0,6790.0,7.26,4.64,2.62,457.0
26148,Zimbabwe,ZWE,2021-06-09,1083983.0,689920.0,394063.0,5174.0,6253.0,7.29,4.64,2.65,421.0
26149,Zimbabwe,ZWE,2021-06-10,1089506.0,690452.0,399054.0,5523.0,5857.0,7.33,4.65,2.68,394.0

In [9]:
vacc_df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,1.557600e+04,1.478900e+04,1.189000e+04,1.321100e+04,2.590700e+04,15576.000000,14789.000000,11890.00000,25907.000000
mean,3.092102e+07,1.649152e+07,9.130204e+06,7.192929e+05,3.620780e+05,21.239019,14.291486,8.18431,3159.685413
std,1.357844e+08,6.398880e+07,3.534643e+07,2.862690e+06,1.962890e+06,28.304009,17.608201,12.21549,4419.026958
min,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.00000,0.000000
25%,1.165785e+05,8.946400e+04,4.286425e+04,5.018000e+03,9.460000e+02,1.870000,1.560000,0.71000,353.500000
50%,9.198375e+05,6.516940e+05,3.533245e+05,2.694700e+04,7.931000e+03,9.330000,6.700000,3.19000,1639.000000
75%,5.548188e+06,3.859771e+06,2.161500e+06,1.588420e+05,4.701150e+04,29.500000,20.900000,10.35000,4560.000000
max,2.359034e+09,9.756968e+08,4.988808e+08,3.972752e+07,3.573850e+07,230.780000,116.110000,114.67000,118759.000000

A summary of the functions so far:

* `pd.read_csv` - Read data from a CSV file into a Pandas `DataFrame` object
* `.info()` - View basic infomation about rows, columns & data types
* `.describe()` - View statistical information about numeric columns
* `.columns` - Get the list of column names
* `.shape` - Get the number of rows & columns as a tuple
* `.head`, `.tail`

<a id='section3'></a>

---
## 3. Selecting data

![](https://i.imgur.com/zfxLzEv.png)

In [10]:
# Pandas format is NOT similar to this
covid_data_list = [
    {'date': '2020-08-30', 'new_cases': 1444, 'new_deaths': 1, 'new_tests': 53541},
    {'date': '2020-08-31', 'new_cases': 1365, 'new_deaths': 4, 'new_tests': 42583},
    {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
    {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8 },
    {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6},
]
covid_data_list

[{'date': '2020-08-30',
  'new_cases': 1444,
  'new_deaths': 1,
  'new_tests': 53541},
 {'date': '2020-08-31',
  'new_cases': 1365,
  'new_deaths': 4,
  'new_tests': 42583},
 {'date': '2020-09-01', 'new_cases': 996, 'new_deaths': 6, 'new_tests': 54395},
 {'date': '2020-09-02', 'new_cases': 975, 'new_deaths': 8},
 {'date': '2020-09-03', 'new_cases': 1326, 'new_deaths': 6}]

In [11]:
# Pandas format is simliar to this
covid_data_dict = {
    'date':       ['2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03'],
    'new_cases':  [1444, 1365, 996, 975, 1326],
    'new_deaths': [1, 4, 6, 8, 6],
    'new_tests': [53541, 42583, 54395, None, None]
}

#### The index of a dataframe doesn't have to be numeric

In [12]:
df = pd.DataFrame({'age':[30, 2, 12, 4, 32, 33, 69],
                   'color':['blue', 'green', 'red', 'white', 'gray', 'black', 'red'],
                   'food':['Steak', 'Lamb', 'Mango', 'Apple', 'Cheese', 'Melon', 'Beans'],
                   'height':[165, 70, 120, 80, 180, 172, 150],
                   'score':[4.6, 8.3, 9.0, 3.3, 1.8, 9.5, 2.2],
                   'state':['NY', 'TX', 'FL', 'AL', 'AK', 'TX', 'TX']
                   },
                  index=['Jane', 'Nick', 'Aaron', 'Penelope', 'Dean', 'Christina', 'Cornelia'])
df

           age  color    food  height  score state
Jane        30   blue   Steak     165    4.6    NY
Nick         2  green    Lamb      70    8.3    TX
Aaron       12    red   Mango     120    9.0    FL
Penelope     4  white   Apple      80    3.3    AL
Dean        32   gray  Cheese     180    1.8    AK
Christina   33  black   Melon     172    9.5    TX
Cornelia    69    red   Beans     150    2.2    TX

In our case it just happens to be numeric:

In [13]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [14]:
vacc_df.location
#is the same as this:
vacc_df['location']

0        Afghanistan
1        Afghanistan
2        Afghanistan
3        Afghanistan
4        Afghanistan
            ...
26145       Zimbabwe
26146       Zimbabwe
26147       Zimbabwe
26148       Zimbabwe
26149       Zimbabwe
Name: location, Length: 26150, dtype: object

note: using the `.` notation is possible only for columns whose names do not contain spaces or special characters

what data type is vacc_df.location? (list? series? dataframe?)

In [15]:
type(vacc_df.location)

pandas.core.series.Series

In [16]:
#retrieve a specific cell
vacc_df.location[333]

'Albania'

In [17]:
#retrieve two columns
vacc_df[['location','date']]

          location        date
0      Afghanistan  2021-02-22
1      Afghanistan  2021-02-23
2      Afghanistan  2021-02-24
3      Afghanistan  2021-02-25
4      Afghanistan  2021-02-26
...            ...         ...
26145     Zimbabwe  2021-06-06
26146     Zimbabwe  2021-06-07
26147     Zimbabwe  2021-06-08
26148     Zimbabwe  2021-06-09
26149     Zimbabwe  2021-06-10

[26150 rows x 2 columns]

#### Seletcting subsets of rows and columns

One way to do that is iloc. 

`.iloc` - selects subsets of rows and columns by integer location only

In [18]:
#Rows:
#vacc_df.iloc[0]  #first row
vacc_df.iloc[-1] #last row

location                                 Zimbabwe
iso_code                                      ZWE
date                                   2021-06-10
total_vaccinations                      1089506.0
people_vaccinated                        690452.0
people_fully_vaccinated                  399054.0
daily_vaccinations_raw                     5523.0
daily_vaccinations                         5857.0
total_vaccinations_per_hundred               7.33
people_vaccinated_per_hundred                4.65
people_fully_vaccinated_per_hundred          2.68
daily_vaccinations_per_million              394.0
Name: 26149, dtype: object

The : operator 

 - when used alone it means "everything"

- also used to indicate a ***slice*** of values

In [19]:
vacc_df.iloc[1:2] # second and third row
vacc_df.iloc[[-1,2,22]] #a few specific rows

# Columns:
vacc_df.iloc[:,0] # first column of data frame  
vacc_df.iloc[:,1] # second column of data frame  
vacc_df.iloc[:,-1] # last column of data frame

#Rows and columns
vacc_df.iloc[0:5] # first five rows of dataframe
vacc_df.iloc[:, 0:2] # first two columns of data frame with all rows
vacc_df.iloc[[0,3,6,24], [0,5,6]] # 1st, 4th, 7th, 25th row + 1st 6th 7th columns.

       location  people_fully_vaccinated  daily_vaccinations_raw
0   Afghanistan                      NaN                     NaN
3   Afghanistan                      NaN                     NaN
6   Afghanistan                      NaN                     NaN
24  Afghanistan                      NaN                     NaN

In [20]:
vacc_df.iloc[0:19]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
6,Afghanistan,AFG,2021-02-28,8200.0,8200.0,NaN,NaN,1367.0,0.02,0.02,NaN,35.0
7,Afghanistan,AFG,2021-03-01,NaN,NaN,NaN,NaN,1580.0,NaN,NaN,NaN,41.0
8,Afghanistan,AFG,2021-03-02,NaN,NaN,NaN,NaN,1794.0,NaN,NaN,NaN,46.0
9,Afghanistan,AFG,2021-03-03,NaN,NaN,NaN,NaN,2008.0,NaN,NaN,NaN,52.0
10,Afghanistan,AFG,2021-03-04,NaN,NaN,NaN,NaN,2221.0,NaN,NaN,NaN,57.0
11,Afghanistan,AFG,2021-03-05,NaN,NaN,NaN,NaN,2435.0,NaN,NaN,NaN,63.0
12,Afghanistan,AFG,2021-03-06,NaN,NaN,NaN,NaN,2649.0,NaN,NaN,NaN,68.0
13,Afghanistan,AFG,2021-03-07,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0
14,Afghanistan,AFG,2021-03-08,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0
15,Afghanistan,AFG,2021-03-09,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0
16,Afghanistan,AFG,2021-03-10,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0
17,Afghanistan,AFG,2021-03-11,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0
18,Afghanistan,AFG,2021-03-12,NaN,NaN,NaN,NaN,2862.0,NaN,NaN,NaN,74.0

What if I want to select the 'daily_vaccinations' column, but I don't remember which column it is?

Use `.loc`

`.loc` - selects subsets of rows and columns by label only. Allowed inputs are:

- A single label, e.g. 5 or 'a', (note that 5 is interpreted as a label of the index, and never as an integer position along the index).

- A list or array of labels, e.g. ['a', 'b', 'c'].

- A slice object with labels, e.g. 'a':'f'.

In [21]:
vacc_df.loc[:,'daily_vaccinations']

0           NaN
1        1367.0
2        1367.0
3        1367.0
4        1367.0
          ...
26145    8019.0
26146    7699.0
26147    6790.0
26148    6253.0
26149    5857.0
Name: daily_vaccinations, Length: 26150, dtype: float64

I'm missing the location. Let's add it.

In [22]:
vacc_df.loc[0:3,['location','daily_vaccinations']]

#vacc_df.loc[0:4:,['location', 'total_vaccinations']]  this is to select specific rows

      location  daily_vaccinations
0  Afghanistan                 NaN
1  Afghanistan              1367.0
2  Afghanistan              1367.0
3  Afghanistan              1367.0

Semantics are similar to iloc. But note:

- `iloc` excludes the last element.  `df.iloc[0:1000]` will return entries 0...999
- `loc`, includes the last element.  `df.loc[0:1000]` will return entries 0...1000

you try it! What is the difference between:

> vacc_df.iloc[0:5]

> vacc_df.loc[0:5]

In [23]:
 vacc_df.iloc[0:5]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [24]:
vacc_df.loc[0:5]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
5,Afghanistan,AFG,2021-02-27,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

---
---

Now you: 

what do you do to select:

a. first five rows?

b. first two columns, all rows?

c. 1st and 3rd row and 2nd and 4th column?

---
---

a. the first five rows are:

In [25]:
vacc_df.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,35.0

In [26]:
vacc_df.iloc [:,0:2]

          location iso_code
0      Afghanistan      AFG
1      Afghanistan      AFG
2      Afghanistan      AFG
3      Afghanistan      AFG
4      Afghanistan      AFG
...            ...      ...
26145     Zimbabwe      ZWE
26146     Zimbabwe      ZWE
26147     Zimbabwe      ZWE
26148     Zimbabwe      ZWE
26149     Zimbabwe      ZWE

[26150 rows x 2 columns]

In [27]:
vacc_df.iloc[[1,3],[2,4]]

         date  people_vaccinated
1  2021-02-23                NaN
3  2021-02-25                NaN

---
A summary of the functions in this unit:

* `.iloc` - selects rows and columns by integer location
* `.loc` - selects rows and columns by label location

Note: indexing operators as the ones working on dictionaries, will also work in pandas. But for more advanced operations, better get used to loc and iloc.

---

<a id='section4'></a>

## 4. Conditional selection

In [28]:
vacc_df.loc[:,'location'] == 'Israel'

0        False
1        False
2        False
3        False
4        False
         ...
26145    False
26146    False
26147    False
26148    False
26149    False
Name: location, Length: 26150, dtype: bool

This creates a series of true/false 

We can insert this into data to select only that task:

In [29]:
vacc_df[vacc_df.loc[:,'location'] == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11565,Israel,ISR,2020-12-19,60.0,60.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
11566,Israel,ISR,2020-12-20,7419.0,7419.0,NaN,7359.0,7359.0,0.09,0.09,NaN,850.0
11567,Israel,ISR,2020-12-21,32303.0,32303.0,NaN,24884.0,16122.0,0.37,0.37,NaN,1863.0
11568,Israel,ISR,2020-12-22,76915.0,76915.0,NaN,44612.0,25618.0,0.89,0.89,NaN,2960.0
11569,Israel,ISR,2020-12-23,139748.0,139748.0,NaN,62833.0,34922.0,1.61,1.61,NaN,4035.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11736,Israel,ISR,2021-06-08,10608748.0,5468298.0,5140450.0,4549.0,3076.0,122.57,63.18,59.39,355.0
11737,Israel,ISR,2021-06-09,10613316.0,5471746.0,5141570.0,4568.0,3347.0,122.62,63.22,59.40,387.0
11738,Israel,ISR,2021-06-10,10617591.0,5474912.0,5142679.0,4275.0,3561.0,122.67,63.25,59.41,411.0
11739,Israel,ISR,2021-06-11,10618854.0,5475868.0,5142986.0,1263.0,3532.0,122.68,63.26,59.42,408.0
11740,Israel,ISR,2021-06-12,10619001.0,5475955.0,5143046.0,147.0,3530.0,122.68,63.27,59.42,408.0

Another way:

In [30]:
vacc_df.loc[vacc_df.location == 'Israel']

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11565,Israel,ISR,2020-12-19,60.0,60.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
11566,Israel,ISR,2020-12-20,7419.0,7419.0,NaN,7359.0,7359.0,0.09,0.09,NaN,850.0
11567,Israel,ISR,2020-12-21,32303.0,32303.0,NaN,24884.0,16122.0,0.37,0.37,NaN,1863.0
11568,Israel,ISR,2020-12-22,76915.0,76915.0,NaN,44612.0,25618.0,0.89,0.89,NaN,2960.0
11569,Israel,ISR,2020-12-23,139748.0,139748.0,NaN,62833.0,34922.0,1.61,1.61,NaN,4035.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11736,Israel,ISR,2021-06-08,10608748.0,5468298.0,5140450.0,4549.0,3076.0,122.57,63.18,59.39,355.0
11737,Israel,ISR,2021-06-09,10613316.0,5471746.0,5141570.0,4568.0,3347.0,122.62,63.22,59.40,387.0
11738,Israel,ISR,2021-06-10,10617591.0,5474912.0,5142679.0,4275.0,3561.0,122.67,63.25,59.41,411.0
11739,Israel,ISR,2021-06-11,10618854.0,5475868.0,5142986.0,1263.0,3532.0,122.68,63.26,59.42,408.0
11740,Israel,ISR,2021-06-12,10619001.0,5475955.0,5143046.0,147.0,3530.0,122.68,63.27,59.42,408.0

Select two countries:

In [31]:
two_countries = vacc_df.loc[(vacc_df.location == 'Israel') | (vacc_df.location == 'Denmark')]
two_countries

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
5965,Denmark,DNK,2020-12-17,1.0,1.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
5966,Denmark,DNK,2020-12-18,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5967,Denmark,DNK,2020-12-19,2.0,2.0,NaN,NaN,0.0,0.00,0.00,NaN,0.0
5968,Denmark,DNK,2020-12-20,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0
5969,Denmark,DNK,2020-12-21,3.0,3.0,NaN,NaN,0.0,0.00,0.00,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11736,Israel,ISR,2021-06-08,10608748.0,5468298.0,5140450.0,4549.0,3076.0,122.57,63.18,59.39,355.0
11737,Israel,ISR,2021-06-09,10613316.0,5471746.0,5141570.0,4568.0,3347.0,122.62,63.22,59.40,387.0
11738,Israel,ISR,2021-06-10,10617591.0,5474912.0,5142679.0,4275.0,3561.0,122.67,63.25,59.41,411.0
11739,Israel,ISR,2021-06-11,10618854.0,5475868.0,5142986.0,1263.0,3532.0,122.68,63.26,59.42,408.0
11740,Israel,ISR,2021-06-12,10619001.0,5475955.0,5143046.0,147.0,3530.0,122.68,63.27,59.42,408.0

only the indexs of the tasks:

In [32]:
two_countries.index.values

array([ 5965,  5966,  5967,  5968,  5969,  5970,  5971,  5972,  5973,
        5974,  5975,  5976,  5977,  5978,  5979,  5980,  5981,  5982,
        5983,  5984,  5985,  5986,  5987,  5988,  5989,  5990,  5991,
        5992,  5993,  5994,  5995,  5996,  5997,  5998,  5999,  6000,
        6001,  6002,  6003,  6004,  6005,  6006,  6007,  6008,  6009,
        6010,  6011,  6012,  6013,  6014,  6015,  6016,  6017,  6018,
        6019,  6020,  6021,  6022,  6023,  6024,  6025,  6026,  6027,
        6028,  6029,  6030,  6031,  6032,  6033,  6034,  6035,  6036,
        6037,  6038,  6039,  6040,  6041,  6042,  6043,  6044,  6045,
        6046,  6047,  6048,  6049,  6050,  6051,  6052,  6053,  6054,
        6055,  6056,  6057,  6058,  6059,  6060,  6061,  6062,  6063,
        6064,  6065,  6066,  6067,  6068,  6069,  6070,  6071,  6072,
        6073,  6074,  6075,  6076,  6077,  6078,  6079,  6080,  6081,
        6082,  6083,  6084,  6085,  6086,  6087,  6088,  6089,  6090,
        6091,  6092,  6093,  6094,  6095,  6096,  6097,  6098,  6099,
        6100,  6101,  6102,  6103,  6104,  6105,  6106,  6107,  6108,
        6109,  6110,  6111,  6112,  6113,  6114,  6115,  6116,  6117,
        6118,  6119,  6120,  6121,  6122,  6123,  6124,  6125,  6126,
        6127,  6128,  6129,  6130,  6131,  6132,  6133,  6134,  6135,
        6136,  6137,  6138,  6139,  6140,  6141, 11565, 11566, 11567,
       11568, 11569, 11570, 11571, 11572, 11573, 11574, 11575, 11576,
       11577, 11578, 11579, 11580, 11581, 11582, 11583, 11584, 11585,
       11586, 11587, 11588, 11589, 11590, 11591, 11592, 11593, 11594,
       11595, 11596, 11597, 11598, 11599, 11600, 11601, 11602, 11603,
       11604, 11605, 11606, 11607, 11608, 11609, 11610, 11611, 11612,
       11613, 11614, 11615, 11616, 11617, 11618, 11619, 11620, 11621,
       11622, 11623, 11624, 11625, 11626, 11627, 11628, 11629, 11630,
       11631, 11632, 11633, 11634, 11635, 11636, 11637, 11638, 11639,
       11640, 11641, 11642, 11643, 11644, 11645, 11646, 11647, 11648,
       11649, 11650, 11651, 11652, 11653, 11654, 11655, 11656, 11657,
       11658, 11659, 11660, 11661, 11662, 11663, 11664, 11665, 11666,
       11667, 11668, 11669, 11670, 11671, 11672, 11673, 11674, 11675,
       11676, 11677, 11678, 11679, 11680, 11681, 11682, 11683, 11684,
       11685, 11686, 11687, 11688, 11689, 11690, 11691, 11692, 11693,
       11694, 11695, 11696, 11697, 11698, 11699, 11700, 11701, 11702,
       11703, 11704, 11705, 11706, 11707, 11708, 11709, 11710, 11711,
       11712, 11713, 11714, 11715, 11716, 11717, 11718, 11719, 11720,
       11721, 11722, 11723, 11724, 11725, 11726, 11727, 11728, 11729,
       11730, 11731, 11732, 11733, 11734, 11735, 11736, 11737, 11738,
       11739, 11740], dtype=int64)

the index in the first place:

In [33]:
two_countries.index.values[0]

5965

how many rows for the two countries?

In [34]:
two_countries.count()

location                               353
iso_code                               353
date                                   353
total_vaccinations                     350
people_vaccinated                      350
people_fully_vaccinated                319
daily_vaccinations_raw                 345
daily_vaccinations                     351
total_vaccinations_per_hundred         350
people_vaccinated_per_hundred          350
people_fully_vaccinated_per_hundred    319
daily_vaccinations_per_million         351
dtype: int64

At the end of the file we have some world data.

Use str.contains if you're not sure how this location is called

In [35]:
vacc_df[vacc_df['location'].str.contains('World')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
25761,World,OWID_WRL,2020-12-02,0.000000e+00,0.0,NaN,NaN,NaN,0.00,0.00,NaN,NaN
25762,World,OWID_WRL,2020-12-03,0.000000e+00,0.0,NaN,0.0,0.0,0.00,0.00,NaN,0.0
25763,World,OWID_WRL,2020-12-04,0.000000e+00,0.0,NaN,0.0,0.0,0.00,0.00,NaN,0.0
25764,World,OWID_WRL,2020-12-05,0.000000e+00,0.0,NaN,0.0,0.0,0.00,0.00,NaN,0.0
25765,World,OWID_WRL,2020-12-06,0.000000e+00,0.0,NaN,0.0,0.0,0.00,0.00,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
25949,World,OWID_WRL,2021-06-08,2.221597e+09,931300681.0,476464036.0,34015019.0,34119408.0,28.50,11.95,6.11,4377.0
25950,World,OWID_WRL,2021-06-09,2.260385e+09,946072268.0,483620159.0,38788044.0,34077290.0,29.00,12.14,6.20,4372.0
25951,World,OWID_WRL,2021-06-10,2.299161e+09,957875441.0,490069476.0,38775787.0,34610957.0,29.50,12.29,6.29,4440.0
25952,World,OWID_WRL,2021-06-11,2.333572e+09,968578019.0,495502012.0,34410964.0,34056225.0,29.94,12.43,6.36,4369.0
25953,World,OWID_WRL,2021-06-12,2.359034e+09,975696842.0,498880783.0,25461613.0,33303252.0,30.26,12.52,6.40,4272.0

Remove the world data:

In [36]:
vacc_df_noWorld = vacc_df.loc[vacc_df.location != 'World']
vacc_df_noWorld.tail()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
26145,Zimbabwe,ZWE,2021-06-06,1068107.0,687321.0,380786.0,6156.0,8019.0,7.19,4.62,2.56,540.0
26146,Zimbabwe,ZWE,2021-06-07,1073971.0,688696.0,385275.0,5864.0,7699.0,7.23,4.63,2.59,518.0
26147,Zimbabwe,ZWE,2021-06-08,1078809.0,689397.0,389412.0,4838.0,6790.0,7.26,4.64,2.62,457.0
26148,Zimbabwe,ZWE,2021-06-09,1083983.0,689920.0,394063.0,5174.0,6253.0,7.29,4.64,2.65,421.0
26149,Zimbabwe,ZWE,2021-06-10,1089506.0,690452.0,399054.0,5523.0,5857.0,7.33,4.65,2.68,394.0

Find the country with the maximum vaccinations:

In [37]:
max_vacc = vacc_df_noWorld.total_vaccinations.max()
max_vacc

1358955991.0

In [38]:
vacc_df_noWorld.loc[vacc_df_noWorld.total_vaccinations == max_vacc]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
1504,Asia,OWID_ASI,2021-06-12,1.358956e+09,340761754.0,118252989.0,20528097.0,23636873.0,29.29,7.34,2.55,5094.0

What do you think this function does?

In [39]:
vacc_df_noWorld.total_vaccinations.mean()

23648327.626535784

----
#### Your turn:

Select the number of daily vaccinations in Israel on date 2021-02-06 (hint: use &)

In [40]:
vacc_df.loc[(vacc_df.location == 'Israel') & (vacc_df.date == '2021-02-06')]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
11614,Israel,ISR,2021-02-06,5517816.0,3442391.0,2075425.0,43669.0,99786.0,63.75,39.77,23.98,11529.0

Find all the countries with more than 3000000 vaccinations

In [41]:
vacc_df_noWorld.loc[(vacc_df.daily_vaccinations > 300000)]

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
184,Africa,OWID_AFR,2021-03-27,1.030312e+07,6962741.0,3606163.0,325837.0,301268.0,0.77,0.52,0.27,225.0
185,Africa,OWID_AFR,2021-03-28,1.056197e+07,7218927.0,3608826.0,258849.0,335169.0,0.79,0.54,0.27,250.0
186,Africa,OWID_AFR,2021-03-29,1.077488e+07,7305693.0,3743035.0,212915.0,348122.0,0.80,0.54,0.28,260.0
187,Africa,OWID_AFR,2021-03-30,1.097167e+07,7387045.0,3870510.0,196785.0,355345.0,0.82,0.55,0.29,265.0
227,Africa,OWID_AFR,2021-05-09,2.119979e+07,16063514.0,5518752.0,729471.0,351787.0,1.58,1.20,0.41,262.0
...,...,...,...,...,...,...,...,...,...,...,...,...
25129,Upper middle income,OWID_UMC,2021-06-08,1.090945e+09,186027529.0,98436102.0,20543954.0,22052152.0,41.09,7.01,3.71,8306.0
25130,Upper middle income,OWID_UMC,2021-06-09,1.113949e+09,191407304.0,100086722.0,23004071.0,21477734.0,41.96,7.21,3.77,8090.0
25131,Upper middle income,OWID_UMC,2021-06-10,1.139017e+09,194784744.0,101235834.0,25068284.0,21688866.0,42.90,7.34,3.81,8170.0
25132,Upper middle income,OWID_UMC,2021-06-11,1.162160e+09,198446693.0,102437210.0,23142220.0,21401704.0,43.78,7.47,3.86,8061.0
25133,Upper middle income,OWID_UMC,2021-06-12,1.179221e+09,199885712.0,102971937.0,17061135.0,20645215.0,44.42,7.53,3.88,7777.0

---
Summary of the functions in this unit:

* `.index.values` - the row indexes of this part of the dataframes
* `.str.contains` - selects rows and columns that contain a string
* `.max` - maximum value
* `.mean` - average value
* `.count` - the number of rows that contain a value